<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5,Profile=Client" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NetHttpBinding_StockQuote">                    
                    <binaryMessageEncoding />
                    <httpTransport>
                        <webSocketSettings connectionMode="Required" subProtocol="x-soapoverwebsocket"/>
                    </httpTransport>
                </binding>                
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCFNetHttpServer/StockQuote.svc"
                binding="customBinding" bindingConfiguration="NetHttpBinding_StockQuote"
                contract="ServiceReference1.StockQuote" name="NetHttpBinding_StockQuote" />            
        </client>
    </system.serviceModel>
</configuration>