<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />      
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />      
    </system.web>

    <system.serviceModel>
      <protocolMapping>
        <add scheme="http" binding="netHttpBinding"/>
        <add scheme="https" binding="netHttpsBinding"/>
      </protocolMapping>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
